* {
  text-align: center;
  font-family: "Carrois Gothic SC", sans-serif;
}

#high-score {
  border-color: green;
}

#answer {
  background-color: black;
  color: white;
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 50px;
  font-size: 50px;
  font-weight: bold;
}

.basic-text {
  font-size: 20px;
}
